@model IEnumerable<Chamados.Models.ch_chamados>

@{
    ViewBag.Title = "Busca Chamados";
}

<div class="card" style="max-width: 60rem;">
    <div class="card-header text-white bg-dark">
       Buscar Chamados 
    </div>
    <div class="card-body">
        <div class="row">
            @Html.Label("Número Chamado", htmlAttributes: new { @class = "control-label col-lg-2" })
            <input name="NrChamado" id="NrChamado" type="number" class=" col-lg-4 form-control" />
        </div>

        <br />
        <div class="row">
            @Html.Label("Cliente", htmlAttributes: new { @class = "control-label col-lg-2" })
            <input name="NrChamado" id="NrChamado" type="number" class=" col-lg-4 form-control" />
        </div>

        <br />
        <div class="row">
            @Html.Label("Status", htmlAttributes: new { @class = "control-label col-lg-2" })
            <input name="NrChamado" id="NrChamado" type="number" class=" col-lg-4 form-control" />
        </div>

        <br />
        <div class="row">
            @Html.Label("Classificação", htmlAttributes: new { @class = "control-label col-lg-2" })
            <input name="NrChamado" id="NrChamado" type="number" class=" col-lg-4 form-control" />
        </div>

        <br />
        <div class="row">
            @Html.Label("Usuários", htmlAttributes: new { @class = "control-label col-lg-2" })
            <input name="NrChamado" id="NrChamado" type="number" class=" col-lg-4 form-control" />
        </div>

        <br />
        <div class="row">
            @Html.Label("Responsável", htmlAttributes: new { @class = "control-label col-lg-2" })
            <input name="NrChamado" id="NrChamado" type="number" class=" col-lg-4 form-control" />
        </div>

        <br />
        <div class="row">
            @Html.Label("De:", htmlAttributes: new { @class = "control-label col-lg-1" })
            <input name="NrChamado" id="NrChamado" type="date" class=" col-lg-2 form-control" />

            @Html.Label("até:", htmlAttributes: new { @class = "control-label col-lg-1" })
            <input name="NrChamado" id="NrChamado" type="date" class=" col-lg-2 form-control" />
        </div>

        <div class="row">
            <div >
                <button class=" btn btn-danger">tesxt</button>
            </div>
        </div>






    </div>


    </div>
